target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iml
*.iws
*.ipr
out/

*.log
dependency-reduced-pom.xml
buildNumber
.mvn/timing.properties

.vscode/
.history/
*.code-workspace

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

docker-compose.override.yml

hs_err_pid*
